/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.markdown-source-view.mod-cm6.is-readable-line-width .cm-sizer {
  margin-left:0px !important;
  max-width: 600px !important;
}

.cm-formatting.cm-formatting-link-string.cm-string.cm-url.external-link {
  display: none !important;
}

#referenceMarkContainer {
  border-left: 1px solid gray;
  height: 100%;
}